.diva{
    background-color:#ff88d7; 
    width: 90px; 
    height: 45px;
}
.diva div{
    background-color: #d1ff88; 
    width: 60%; 
    height: 50%
}
.diva p{
    color:purple; 
    background-color: rgb(225, 161, 250); 
    font-size: 15px; 
    font-family: Arial; 
    font-weight: bold;
}
.divd{
    width: 25%; 
    height: 50vh; 
    background-color: 
    rgb(96, 223, 255);

}
.divd div{
    width: 75vw; 
    height:50%; 
    background-color: 
    rgb(247, 177, 130);
}